body{
    background-color: rgb(250, 247, 231);

    h1,h3{
        text-align: center;
    }

    h3{
       text-transform: lowercase;
       text-decoration: overline;
    }
    h4{
        text-transform: uppercase;
    }
    a{
        color: cornflowerblue;
        text-decoration: none;
    }

    img{
        width: 75%;
        border-radius: 10px;
        display: block;
        margin: 50px auto;
    }
}